.col-lg-12{
    background-color:#800000;
    width: 250px;
    height:50px;
    padding:50px;
    margin:20px;
    align-items: center;
    text-align: center;
    color: white;
}

h2{
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.col-md{
    
    background-clip: padding-box;
    border: 10px solid transparent;
}

.alert {

    padding: 1rem;
    border: 5px;
    color: white;
    margin: 0.5rem;
    background-color: #0099ff
    
}